<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      RetroBrainz - The Open Database for Retro Video Game Enthusiasts
    </title>
    <link rel="icon" type="image/svg+xml" href="/logo.svg" sizes="512x512" />
    @viteReactRefresh()
    @vite(['resources/js/app.tsx'])
    @stack('dumper')
  </head>
  <body class="min-h-screen w-screen font-sans">
    <div id="app"></div>
  </body>
</html>
